<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Properties</key>
	<array>
		<dict>
			<key>name</key>
			<string>todos</string>
			<key>icon</key>
			<string>calorie_todos_icon.png</string>
			<key>type</key>
			<string>todos</string>
			<key>displayName</key>
			<string>TodayCalorie</string>
		</dict>
		<dict>
			<key>name</key>
			<string>tags</string>
			<key>icon</key>
			<string>list_icon_tag.png</string>
			<key>type</key>
			<string>tags</string>
		</dict>
	</array>
	<key>Configurations</key>
	<dict>
		<key>DefaultUnfold</key>
		<false/>
		<key>ShowTimeline</key>
		<true/>
		<key>Slogan</key>
		<string>CalorieSlogan</string>
		<key>TimelineTitle</key>
		<string>CalorieTimeline</string>
		<key>PlaceHolder</key>
		<string>CaloriePlaceHolder</string>
		<key>ShowQuickEntry</key>
		<false/>
		<key>ActionType</key>
		<integer>99</integer>
		<key>QuickAddPropertyName</key>
		<string>todos</string>
		<key>InputHelperWords</key>
		<array>
			<string>大卡</string>
			<string>千焦</string>
			<string>kilocalorie</string>
			<string>.</string>
		</array>
	</dict>
</dict>
</plist>
