<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AddonDataList</key>
	<array>
		<dict>
			<key>display</key>
			<true/>
			<key>cartoon</key>
			<string>hourglass</string>
			<key>detect_type</key>
			<integer>3</integer>
			<key>number_of_cartoons</key>
			<integer>60</integer>
			<key>title</key>
			<string>DailySchedule</string>
			<key>daily_do_name</key>
			<string>DailySchedule</string>
			<key>icon</key>
			<string>daily_schedule.png</string>
			<key>order_index</key>
			<integer>0</integer>
			<key>show_checked</key>
			<true/>
			<key>tip_image</key>
			<string>daily_schedule_tip.png</string>
		</dict>
		<dict>
			<key>display</key>
			<true/>
			<key>cartoon</key>
			<string>ghost</string>
			<key>detect_type</key>
			<integer>0</integer>
			<key>title</key>
			<string>DailyShort</string>
			<key>number_of_cartoons</key>
			<integer>42</integer>
			<key>daily_do_name</key>
			<string>DailyShort</string>
			<key>icon</key>
			<string>daily_short.png</string>
			<key>order_index</key>
			<integer>1</integer>
			<key>show_checked</key>
			<false/>
			<key>tip_image</key>
			<string></string>
		</dict>
		<dict>
			<key>display</key>
			<true/>
			<key>cartoon</key>
			<string>kettle</string>
			<key>detect_type</key>
			<integer>7</integer>
			<key>number_of_cartoons</key>
			<integer>33</integer>
			<key>title</key>
			<string>DailyCash</string>
			<key>daily_do_name</key>
			<string>DailyCash</string>
			<key>icon</key>
			<string>daily_cash.png</string>
			<key>order_index</key>
			<integer>2</integer>
			<key>show_checked</key>
			<false/>
			<key>tip_image</key>
			<string>daily_cash_tip.png</string>
		</dict>
		<dict>
			<key>display</key>
			<true/>
			<key>cartoon</key>
			<string>sumou</string>
			<key>detect_type</key>
			<integer>11</integer>
			<key>number_of_cartoons</key>
			<integer>30</integer>
			<key>title</key>
			<string>DailyCalorie</string>
			<key>daily_do_name</key>
			<string>DailyCalorie</string>
			<key>icon</key>
			<string>daily_calorie.png</string>
			<key>order_index</key>
			<integer>4</integer>
			<key>show_checked</key>
			<false/>
			<key>tip_image</key>
			<string>daily_calorie_tip.png</string>
		</dict>
		<dict>
			<key>display</key>
			<true/>
			<key>cartoon</key>
			<string>human</string>
			<key>detect_type</key>
			<integer>115</integer>
			<key>number_of_cartoons</key>
			<integer>30</integer>
			<key>title</key>
			<string>DailyWorkout</string>
			<key>daily_do_name</key>
			<string>DailyWorkout</string>
			<key>icon</key>
			<string>daily_workout.png</string>
			<key>order_index</key>
			<integer>5</integer>
			<key>show_checked</key>
			<true/>
			<key>tip_image</key>
			<string>daily_workout_tip.png</string>
		</dict>
		<dict>
			<key>display</key>
			<true/>
			<key>cartoon</key>
			<string>turtle</string>
			<key>detect_type</key>
			<integer>3</integer>
			<key>number_of_cartoons</key>
			<integer>30</integer>
			<key>title</key>
			<string>DailyMemo</string>
			<key>daily_do_name</key>
			<string>DailyMemo</string>
			<key>icon</key>
			<string>daily_memo.png</string>
			<key>order_index</key>
			<integer>3</integer>
			<key>show_checked</key>
			<true/>
			<key>tip_image</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
