<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HintDialogs</key>
	<array>
		<dict>
			<key>kHintDialogFramesKey</key>
			<array>
				<string>{{75, 115},{75,75}}</string>
			</array>
			<key>kHintDialogFramesKey-568</key>
			<array>
				<string>{{75, 115},{75,75}}</string>
			</array>
			<key>kHintDialogMessageKey</key>
			<string>♥ 新的开始! 点击这里开始编辑新的一天。

&quot;一天&quot;应用将根据您的输入自动识别出时间信息，创建时间轴，显示更直观!</string>
			<key>kHintDialogImageKey</key>
			<string></string>
		</dict>
		<dict>
			<key>kHintDialogFramesKey</key>
			<array>
				<string>{{45, 285},{75,75}}</string>
			</array>
			<key>kHintDialogFramesKey-568</key>
			<array>
				<string>{{45, 285},{75,75}}</string>
			</array>
			<key>kHintDialogMessageKey</key>
			<string>








旧的记录! 点击这里可以查看以前的记录，完成度等信息。</string>
			<key>kHintDialogImageKey</key>
			<string></string>
		</dict>
		<dict>
			<key>kHintDialogFramesKey</key>
			<array>
				<string>{{50, 50},{0,0}}</string>
			</array>
			<key>kHintDialogFramesKey-568</key>
			<array>
				<string>{{50, 50},{0,0}}</string>
			</array>
			<key>kHintDialogMessageKey</key>
			<string>Smark将：

♥ 自动识别输入文本中的&quot;时间&quot;信息作为该条待办事项的开始时间。

♥ 自动识别输入文本中的&quot;时长&quot;信息并生成该条待办事项的结束时间。

(摇晃设备可再次查看本页使用帮助)</string>
			<key>kHintDialogImageKey</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
